main {
  width: 80vw;
  margin: 0 auto;
}
label {
  font-weight: bold;
  display: block;
}
button[type="submit"] {
  display: block;
  padding: 0;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius:0;
}

input[type="text"],
input[type="number"] {
  width: 80vw;
  height: 2rem;
  border-radius: 3px;
  border: none;
  background-color: white;
  margin: 0.5rem 0;
}