<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Campeões LoL</title>
    <link rel="stylesheet" th:href="@{/css/root.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" th:href="@{/css/form.css}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/champs/list">Lista de Campeões</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="alert alert-warning">
        <p>Não foi possível cadastrar o Campeão!</p>
      </div>
    </main>
  </body>
</html>