<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Campeões do LoL</title>
	<link rel="stylesheet" th:href="@{/css/menu.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="/">Início</a>
				</li>
				<li>
					<a href="/champs/insert">Cadastrar Campeão</a>

				</li>
				<li><a href="/champs/list">Listar Campeões</a></li>
			</ul>
		</nav>
	<img src="https://i.pinimg.com/originals/2b/1e/62/2b1e622097e75c2e0683daaacd49997a.jpg"
		alt="Campeões do LoL"/>
		
	</header>
	<main>
	
		
	</main>
</body>

</html>